@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$blueColour: #354288;

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  letter-spacing:5px;
  font-weight: 300;
  text-transform: uppercase;
}
.ember-view{
  height:100%;
}

.sideNav {
  background: $blueColour;
  height:100%;
  .bottom{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 3em;
    left: 0;
    li{
      padding:0;
      i{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
      }
    }
  }
  ul{
    margin-top:1em;
    list-style: none;
    padding: 0;
    text-align: center;
    li{
      padding:2em 0;
      a{
        color:white;
        &:hover{
          cursor:pointer;
          opacity:0.8l;
        }
      }
    }
  }
}

.main{
  margin-top:1em;
  overflow-y:scroll;
  height:98vh;
  .nav-tabs{
    a{
      font-size:0.65em;
    }
  }
  .user-card{
    min-height:5em;
    border:2px solid $blueColour;
    margin:0.5em;
    padding:2em 1em;
    .profile-picture{
      img{
        border-radius: 100%;
        height: 10em;
        width: 10em;
      }
    }
    .contact{
      padding-top:1em;
    }
  }
}