<div class="main">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#checkedIn" aria-controls="checkedIn" role="tab" data-toggle="tab">Checked In</a></li>
    <li role="presentation"><a href="#checkedOut" aria-controls="checkedOut" role="tab" data-toggle="tab">Checked Out</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="checkedIn">     
       {{#each model as |person|}}
         {{#if person.checkedIn}}
           <div class="col-xs-12 col-sm- 6 col-md-4 col-lg-3 col-xl-2">
             <div class="user-card">
               <div class="profile-picture">
                 <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/13015449_1363889360304661_4798637813898539110_n.jpg?oh=582f4c7a34e9418596cdac2e544a4c8f&oe=57C5A238">
               </div>
               <div class="title">
                 <h3>Mr John Smith</h3>
               </div>
               <div class="contact">
                 <p>01020392819</p>
               </div>
             </div>
           </div>
         {{/if}}
       {{/each}}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="checkedOut">...</div>
  </div>
</div>