<div class="main">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#checkedIn" aria-controls="checkedIn" role="tab" data-toggle="tab">Checked In</a></li>
    <li role="presentation"><a href="#checkedOut" aria-controls="checkedOut" role="tab" data-toggle="tab">Checked Out</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="checkedIn">
      
    </div>
    <div role="tabpanel" class="tab-pane fade" id="checkedOut">...</div>
  </div>
</div>