<ul>
  <li>{{#link-to "list"}}{{fa-icon "list"}}{{/link-to}}</li>
  <li><a>{{fa-icon "pencil"}}</a></li>
  <li><a>{{fa-icon "cog"}}</a></li>
</ul>
<ul class="bottom">
  <li>{{fa-icon "code"}}</li>
</ul>